# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:retesu
ErrorDocument 400 /400.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE retesu:ERRORPAGEID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:ReXaLy
ErrorDocument 401 /401.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ReXaLy:ERRORPAGEID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:eTyqym
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE eTyqym:ERRORPAGEID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:apyzyP
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE apyzyP:ERRORPAGEID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:Xynare
ErrorDocument 500 /500.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Xynare:ERRORPAGEID

